* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .calculator {
    width: 287px;
    border: 1px solid #FFF;
    background-color: #000;
    padding: 5px;
  }
  
  .calculator form {
    display: grid;
    grid-template-columns: repeat(4, 65px);
    grid-auto-rows: 65px;
    grid-gap: 5px;
  }
  
  .calculator form input {
    border: 2px solid #333;
    cursor: pointer;
    font-size: 19px;
  }
  
  .calculator form input:hover {
    box-shadow: 1px 1px 2px #333;
  }
  
  .calculator form .clear {
    background-color: #818080;
    color: #FFF;
    font-weight: bold;
  }
  
  .calculator form .operator {
    background-color: #fc8f00;
    color: #FFF;
    font-weight: bold;
  }
  
  .calculator form .dot {
    background-color: #3a3a3a;
    color: #FFF;
    font-weight: bold;
  }
  
  .calculator form .number {
    background-color: #3a3a3a;
    color: #FFF;
    font-weight: bold;
  }
  .calculator form input[type='text'] {
    grid-column: span 4;
    text-align: right;
    padding: 0 10px;
    background-color: #000;
    color: #FFF;
    font-weight: bold;
  }
  
  .calculator form .clear {
    grid-column: span 3;
  }
  
  .calculator form .result {
    grid-column: span 2;
  } 